@{
    ViewData["Title"] = "Sistema de Recomendação de Insumos Agrícolas";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Recomendação de Insumos Agrícolas</h1>
    <p>Este é um sistema de recomendação personalizada desenvolvido para auxiliar os produtores rurais a tomar decisões mais assertivas sobre quais produtos utilizar em suas plantações.</p>

    <h2>Descrição do Projeto</h2>
    <p>Nosso sistema analisa dados como condições climáticas, tipos de solo, histórico de cultivos e outras variáveis relevantes para recomendar os insumos agrícolas mais adequados para cada situação específica.</p>

    <h2>Funcionalidades Principais</h2>
    <ul class="text-start">
        <li><strong>Registro de Propriedades Rurais:</strong> Permite aos produtores cadastrar informações sobre suas propriedades, incluindo localização geográfica, tamanho, tipos de cultura cultivada, entre outros.</li>
        <li><strong>Análise de Dados Agronômicos:</strong> Coleta e analisa dados sobre condições climáticas, tipos de solo, níveis de umidade, histórico de pragas e doenças, entre outras variáveis agronômicas.</li>
        <li><strong>Recomendação de Insumos Agrícolas:</strong> Baseado na análise dos dados agronômicos, o sistema recomenda os insumos mais adequados para otimizar a produtividade e a saúde das plantações.</li>
    </ul>

    <a href="/privacy" class="btn btn-primary mt-3">Saiba mais sobre a política de privacidade</a>
</div>
