@{
    ViewData["Title"] = "Política de Privacidade - GrowerTech";
}

<div class="container">
    <h1>Política de Privacidade</h1>
    <p>A GrowerTech está comprometida em proteger a privacidade de seus usuários. Esta política descreve como coletamos, utilizamos e protegemos as informações pessoais fornecidas pelos usuários em nossa plataforma.</p>

    <h2>Coleta de Informações</h2>
    <p>Coletamos informações sobre as propriedades rurais e dados agronômicos fornecidos para gerar recomendações personalizadas. Essas informações incluem localização, condições climáticas e tipos de cultivo.</p>

    <h2>Uso das Informações</h2>
    <p>Utilizamos as informações coletadas exclusivamente para melhorar a experiência dos usuários e fornecer recomendações mais precisas e relevantes. Nunca compartilharemos suas informações sem consentimento prévio.</p>

    <h2>Segurança</h2>
    <p>Empregamos práticas de segurança avançadas para proteger os dados dos usuários contra acesso não autorizado e uso indevido.</p>

    <h2>Contate-nos</h2>
    <p>Para mais informações sobre nossa política de privacidade, entre em contato conosco através do e-mail: suporte@growertech.com</p>
</div>
